{% extends 'emergency/base.html' %}
{% block title %}About me {% endblock title %}
{% block body %}
<body>
    <style>
        body {
            background-color: #f4f4f4;
        }
        .container {
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
        }
    </style>
    <div class="container">
        <h1>About Me</h1>
        <p>Name: Nawab Khan</p>
        <p>Location: Indore, India</p>
        <p>Occupation: Engineering Student</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/nawab-khan-47ab641aa/">LinkedIn Profile</a></p>
        <p>Instagram: <a href="https://www.instagram.com/pathan_nawab__1/">Instagram Profile</a></p>
        <p>Email: nawabkh2040@gmail.com</p>
    </div>
    <!-- Include Bootstrap JS and jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock body %}