{% extends 'emergency/base.html' %}

{% block title %}Contact us {% endblock title %}
{% block body %}
<body>
    <style>
        body {
            background-color: #f4f4f4;
        }
        .container {
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
        }
    </style>
    <div class="container">
        <h1>Contact Us</h1>
        <p>If you have any questions, suggestions, or concerns, please feel free to contact us using the information below:</p>
        <p>Email: nawabkh2040@gmail.com</p>
    </div>
    <!-- Include Bootstrap JS and jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock body %}
