{% extends 'emergency/base.html' %}
{% block title %}Privacy Policy {% endblock title %}
{% block body %}
<body>
    <style>
        body {
            background-color: #f4f4f4;
        }
        .container {
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
        }
    </style>
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>We respect your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and disclose your personal information when you use our services.</p>
        <h2>Data Collection and Usage</h2>
        <p>We do not collect or share your personal data. Your privacy is important to us, and we do not store or disclose any information provided by users.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about our Privacy Policy, please contact us:</p>
        <p>Email: nawabkh2040@gmail.com</p>
    </div>
    <!-- Include Bootstrap JS and jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock body %}
